{% extends 'beerstats/base.html' %}
{% block content %}
    {% block options %}
        <form action="." method="POST" encrypt="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
            {{ options }}
        </form>
    {% endblock options %}
    {% block loadhighcharts %}
        <script src="http://code.highcharts.com/highcharts.js"></script>
    {% endblock loadhighcharts %}
    {% block chart %}
        <div id={{ chartID|safe }} class="chart" style="height:100px; width:100%"></div>
    {% endblock chart %}
    {% block js %}
        <script>
            var chart_id = {{ chartID|safe }}
            var chart = {{ chart|safe }}
            var series = {{ series|safe }}
        </script>
        <script>
        $(document).ready(function() {
            $(chart_id).highcharts({
                chart: chart,
                series: series,
                xAxis: {
                    type: 'datetime'
                }
            });
        });
        </script>
    {% endblock js %}
{% endblock content %}
